<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark pl">
  <a class="navbar-brand" [routerLink]="['']">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['']" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}" >Home</a>
      <a class="nav-item nav-link" [routerLink]="['imagens']" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}" >Imagens</a>
      <a class="nav-item nav-link" [routerLink]="['posts']" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}" >Posts</a>
      <a class="nav-item nav-link" [routerLink]="['usuarios']" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}" >Usuarios</a>
      <a class="nav-item nav-link" [routerLink]="['cadastrar']" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}">Cadastro</a>
      <a class="nav-item nav-link disabled" href="#">Login</a>
    </div>
  </div>
</nav>
-->

<aside class="sidebar">
  <div class="toggle">
    <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
          <span></span>
        </a>
  </div>
  <div class="side-inner">

    <div class="logo-wrap">
      <div class="logo">
        <span>A</span>
      </div>
      <span class="logo-text">Alta</span>
    </div>
      
    <div class="search-form">
      <form action="#">
        <span class="wrap-icon">
          <span class="icon-search2"></span>
        </span>
        <input type="text" class="form-control" placeholder="Procurar">
      </form>
    </div>
    <div class="nav-menu">
      <ul>
        <li class=""><a class="d-flex align-items-center" [routerLink]="['']" routerLinkActive="text-black" [routerLinkActiveOptions]="{exact: true}"><span class="wrap-icon icon-home2 mr-3"></span><span class="menu-text">Home</span></a></li>
        <li><a href="#" class="d-flex align-items-center" [routerLink]="['imagens']" routerLinkActive="text-black" [routerLinkActiveOptions]="{exact: true}"><span class="fa fa-image mr-3"></span><span class="menu-text">Imagens</span></a></li>
        <li><a href="#" class="d-flex align-items-center" [routerLink]="['posts']" routerLinkActive="text-black" [routerLinkActiveOptions]="{exact: true}"><span class="wrap-icon icon-book mr-3"></span><span class="menu-text">Posts</span></a></li>
        <li><a href="#" class="d-flex align-items-center" [routerLink]="['usuarios']" routerLinkActive="text-black" [routerLinkActiveOptions]="{exact: true}"><span class="fa fa-users mr-3"></span><span class="menu-text">Usuários</span></a></li>
        <li><a href="#" class="d-flex align-items-center" [routerLink]="['cadastrar']" routerLinkActive="text-black" [routerLinkActiveOptions]="{exact: true}"><span class="fa fa-registered mr-3"></span><span class="menu-text">Registrar-se</span></a></li>
        <li><a href="#" class="d-flex align-items-center"><span class="wrap-icon icon-cog mr-3"></span><span class="menu-text">Configurações</span></a></li>
      </ul>
    </div>
  </div>
  
</aside>

