<div>
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Texto</th>
        <th class="spinner-border" role="status" *ngIf="loading">
          <span class="sr-only">Carregando...</span>
        </th>
        <th scope="col">Opção</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <th  scope="row">{{ post.id }}</th>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
        <td> <button class="btn btn-danger" (click)="deletarPost(post.id)">Deletar</button>⠀<button class="btn btn-success" (click)="editarPost(post.id)">Editar</button> </td>
      </tr>
    </tbody>
  </table>
</div>
