
  <div class="jumbotron">
    <h1 class="display-4">Home</h1>
    <p class="lead">Seja bem vindo!</p>
    <hr class="my-4">
    <p>Tenha acesso ilimitado, faça já a sua inscrição.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['cadastrar']" routerLinkActive="text-black" [routerLinkActiveOptions]="{exact: true}" role="button">Cadastre-se</a>
    </p>
  </div>
  <cdk-virtual-scroll-viewport  style="height: 500px" itemSize="1" >
    <ng-container *cdkVirtualFor="let n of numbers">
      <li> {{n}} </li>
    </ng-container>
  </cdk-virtual-scroll-viewport>
